
<div class="container-fluid align-content-middle text-center pt-5 mt-5">

    <div class = "pt-5 mt-5">
                
        <img _ngcontent-hxa-c54="" alt="error" src="../../../../assets/images/auth.png" class="rounded mt-5 img mb-4 ">
                
        <h5> É preciso realizar o login para acessar a funcionalidade!</h5>
        
        <p> Clique 
            <a [routerLink]="['/login']" class="navbar-brand mr-0 pt-1 pb-1" href="#">aqui</a>
            para realizar o login! 
        </p>
    </div>
    
</div>